<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Sample Blog Post with Components - powered by ButterCMS</title>
    <meta name="description" content="Sample Landing Page with Components - powered by ButterCMS" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="https://buttercms.com/static/v2/images/favicon.png"/>
    <!-- Place favicon.ico in the root directory -->

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/lineicons.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- ========================= preloader start ========================= -->
    <div class="preloader">
		<div class="loader">
			<div class="spinner">
				<div class="spinner-container">
					<div class="spinner-rotator">
						<div class="spinner-left">
							<div class="spinner-circle"></div>
						</div>
						<div class="spinner-right">
							<div class="spinner-circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	<!-- preloader end -->
		

	<!-- ========================= header start ========================= -->
    <header class="header">
		<div class="navbar-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-12">
						<nav class="navbar navbar-expand-lg">
							<a class="navbar-brand" href="https://buttercms.com">
							<img src="https://cdn.buttercms.com/PBral0NQGmmFzV0uG7Q6" alt="Logo" />
							</a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="toggler-icon"></span>
								<span class="toggler-icon"></span>
								<span class="toggler-icon"></span>
							</button>
											
							<div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
								<div class="ms-auto">
									<ul id="nav" class="navbar-nav ms-auto">
										<li class="nav-item">
											<a class="active" href="index.html#home">Home</a>
										</li>
										<li class="nav-item">
											<a href="index.html#about">About</a>
										</li>
										<li class="nav-item">
											<a href="index.html#features">Features</a>
										</li>
										<li class="nav-item">
											<a href="index.html#tryit">Try It</a>
										</li>
										<li class="nav-item">
											<a href="index.html#testimonials">Testimonials</a>
										</li>
										<li class="nav-item">
											<a href="index.html#blog">Blog</a>
										</li>
									</ul>
								</div>
							</div> <!-- navbar collapse -->		
						</nav> <!-- navbar -->
					</div>
				</div> <!-- row -->
			</div> <!-- container -->
		</div> <!-- navbar area -->
    </header>
	<!-- ========================= header end ========================= -->

   <!-- ========================= hero no API token ========================= -->
<!--     <section id="home" class="hero-section">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-10">
					<div class="hero-content">
						<h1>Configure your ButterCMS API Token</h1>
						<p>Please add your API token to XYZ file.</p>
						<a target="_blank" href="https://buttercms.com/join/" class="main-btn btn-hover">
							Get your free API token</a>
					</div>
				</div>
				<div class="col-xxl-6 col-xl-6 col-lg-6">
					<img width="300" src="https://cdn.buttercms.com/9bPtzdJ6QSWkySNjlmyR" alt="">
					<div class="hero-image text-center text-lg-end"></div>
				</div>
				</div>
			</div>
		</section> -->
		<!-- ========================= hero-section end ========================= -->

		<!-- ========================= blog-section start ========================= -->

		<section id="blog-header" class="single-post-nav">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12">
						<div class="section-title text-center">
							<h2>This is a sample blogpost.</h2>
							<ul class="breadcrumb-nav">
								<li><a href="index.html">Home</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li>This is a sample blogpost.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Blog Post -->
		<section class="blog-post">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-12 col-12">
						<div class="single-post">
							<div class="single-post-meta">
								<h2 class="single-post-header">This a sample blogpost.</h2>						
								<ul class="single-post-meta-info">
									<li>
										<a href="javascript:void(0)"><img src="/images/team/team-1.png" alt="#"> Author Name</a>
									</li>
									<li>
										<a href="javascript:void(0)"><i class="lni lni-calendar"></i> 10 Feb 2023
									</a>
									</li>
									<li>
										<a href="javascript:void(0)"><i class="lni lni-tag"></i> Marketing</a>
									</li>
								</ul>
							</div>
							<div class="single-post-thumbnail">
								<img src="https://cdn.buttercms.com/bGQip1SQSoevxZxIp5Jh" alt="">
							</div>
							<div class="single-post-body">
								<p>Welcome to ButterCMS! This an example blog post written using Butter.
								</p>
								<h3>Blog Engine Demo</h3>
								<p>Here's a helpful walkthrough of our Blog Engine solution.</p>
								<div style="position: relative; padding-bottom: 56.25%; padding-top: 35px; height: 0; overflow: hidden;">
									<iframe 
										style="position: absolute; top:0; left: 0; width: 100%; height: 100%; z-index: 9999;" 
										src="https://www.youtube.com/embed/0dJbHy2XqoY" 
										frameborder="0" 
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
										allowfullscreen="allowfullscreen">
									</iframe>
								</div>
								<br />
								<a href="https://buttercms.com/demo/blog-engine-why-our-blog-engine/">
									https://buttercms.com/demo/blog-engine-why-our-blog-engine/</a>
								</p>
								<p></p>
								<h3>What's happening here?</h3>
								<p>If you're viewing this post from your website or command line, 
									you've successfully made a request to&nbsp;the 
									<a href="https://buttercms.com/docs/api">Butter API</a>. 
									If you haven't already, make sure you have our 
									<a href="https://buttercms.com/docs/">development guides</a> 
									pulled up for step-by-step instructions on setting up Butter.</p>
								<h3>How does&nbsp;editing work?</h3>
								<p>Butter's WYSIWYG editor 
									supports standard text formatting including headings, links, quotes,
									 code, text alignment, and more. You can upload, crop, and resize
									  images which are automatically hosted and delivered through a CDN
									   (see below). You can also edit HTML directly when needed.</p>
								<figure class="image">
									<img 
									src="https://d2wzhk7xhrnk1x.cloudfront.net/rgPM9aHoSSKnjk44TQlD_butter-blog-post.jpg"
									alt="Delivered to you via CDN" />
									<figcaption>Delivered to you via CDN</figcaption>
								</figure>
								<h3>Can I use Butter as a full CMS for&nbsp;things other than a&nbsp;blog?</h3>
								<p>Yes. Butter can be used as a full CMS for managing dynamic content and creating 
									pages across your entire website or app. Check out our 
									<a href="https://buttercms.com/docs/">development guides</a> for step-by-step 
									tutorials on setting this up.</p>
							</div>
						</div>
					</div>
					<!-- Searchbox -->
					<aside class="col-lg-4 col-md-12 col-12">
						<div class="sidebar blog-grid-page">
							<div class="widget search-widget">
								<h5 class="widget-title">Search This Site</h5>
								<form action="#">
								<input type="text" placeholder="Search Here...">
								<button type="submit"><i class="lni lni-search-alt"></i></button>
								</form>
							</div>
						</div>

						<div class="widget categories-widget">
							<h5 class="widget-title">Categories</h5>
							<ul class="categories-list">
								<li>
									<a href="javascript:void(0)">Design</a>
								</li>
								<li>
									<a href="javascript:void(0)">UX</a>
								</li>
								<li>
									<a href="javascript:void(0)">Interview</a>
								</li>
								<li>
									<a href="javascript:void(0)">Business</a>
								</li>
								<li>
									<a href="javascript:void(0)">Popular</a>
								</li>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</section>
		<!-- ========================= blog-section end ========================= -->


	<!-- ========================= footer start ========================= -->
	<footer class="footer pt-120">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
					<div class="footer-widget">
						<div class="logo">
							<a href="https://buttercms.com"> <img width="200" src="https://cdn.buttercms.com/PBral0NQGmmFzV0uG7Q6" alt="logo"> </a>
						</div>
						<p class="desc">ButterCMS is your content backend. Build better with Butter.</p>
						<ul class="social-links">
							<li><a href="#0"><i class="lni lni-facebook"></i></a></li>
							<li><a href="#0"><i class="lni lni-linkedin"></i></a></li>
							<li><a href="#0"><i class="lni lni-instagram"></i></a></li>
							<li><a href="#0"><i class="lni lni-twitter"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12 offset-xl-1">
					<div class="footer-widget">
						<h3>About Us</h3>
						<ul class="links">
							<li><a href="index.html#home">Home</a></li>
							<li><a href="index.html#about">About</a></li>
							<li><a href="index.html#features">Features</a></li>
							<li><a href="index.html#tryit">Try It</a></li>
							<li><a href="index.html#testimonials">Testimonials</a></li>
							<li><a href="index.html#blog">Blog</a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="footer-widget">
						<h3>Subscribe Newsletter</h3>
						<form action="#">
							<input type="email" placeholder="Email">
							<button class="main-btn btn-hover">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- ========================= footer end ========================= -->


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- =================== JS Blog Post Template ========================= -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/polyfill.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
